@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('FiraSans-Regular.eot') format('embedded-opentype'),
         url('FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
         url('FiraSans-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.slide {
    text-shadow: none;
}

.slide img {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Fira Sans';
    color: #444444;
    background-color: white;
    font-weight: 400;
}

.slide p {
    margin-bottom: 30pt;
    font-weight: 400;
}

.slide h2, .slide li {
    font-weight: 400;
}

em {
    font-weight: 600;
}

#slide2 h1 {
    font-size: 700%;
}

#slide12 h1 {
    font-size: 500%;
}

#slide12 {
    text-align: center;
}
